# Application
APP_NAME=AI Drug Detection System
APP_ENV=development
DEBUG=True
SECRET_KEY=your-super-secret-jwt-key-change-in-production
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Database
DATABASE_URL=postgresql://postgres:udhayan@localhost:5432/drug_detection_db

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# File Upload
MAX_FILE_SIZE_MB=10
UPLOAD_DIR=uploads

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=somaskandanudhayan@gmail  .com
SMTP_PASSWORD=gbqt dntw nohp ejkx
EMAIL_FROM=noreply@drugdetection.com

# Tesseract OCR (set path if not in system PATH)
# TESSERACT_CMD=/usr/bin/tesseract

# Logging
LOG_LEVEL=INFO
LOG_DIR=logs
